html, body, nav, ul, li {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}



#fixed {
    /*formatting*/
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    height: 150px;
}

div {
    background: rgba(255, 0, 0, 0.3);
    /*layout*/
    position: fixed;
    right: 0;
    bottom: 0;
}



