a {
    padding: 15px;
    text-decoration-line: none;
    border: 2px solid green;
    border-radius: 50px;
    display: inline-block;
}

ul {
    font-size: 2rem;
    list-style: none;
}

li {
    border: 1px solid red;
    border-radius: 50px;
    /*list menu horizontal*/
    display: inline-block;
}

li:hover {
    background-color: indianred;
}