html {
    /*serif font*/
    font-family: "Playfair Display";
}

h1 {
    font-size: 35px;
    text-shadow: 2px 2px darkred;
}

div {
    /*san-serif font*/
    font-family: roboto;
}

p {
    font-size: 25px;
    font-weight: bold;
    font-variant: titling-caps;
    font-style: italic;
    text-indent: initial;
}

section {
    text-indent: 15px;
    font-size: 20px;
    font-family: cormorant garamond;
    font-weight: bold;
    font-variant: all-petite-caps;
    word-spacing: 3px;
}

a:link, a:visited {
    color: darkred;
    cursor: auto;
    text-decoration: none;
}

a:hover {
    color: gray;
    text-decoration: underline;
}

a:link:active, a:visited:active {
    color: steelblue;
    text-decoration: none;
}

#s1  {
    font-size: 12px;
    text-decoration-line: line-through;
}


