div {
    width: 150px;
    height: 150px;
    border: 4px solid red;
    border-radius: 5% 50%;
    display: inline-block;
    margin: 10px;
}

/*tb rl*/
.a1 {
    background-color: lemonchiffon;
}

.a2 {
    background-color: lemonchiffon;
}

.a3 {
    background-color: lemonchiffon;
}

.a4 {
    background-color: lemonchiffon;
}

.a5 {
    background-color: lemonchiffon;
}

.a6 {
    background-color: lemonchiffon;
}

.a7 {
    background-color: lemonchiffon;
}

.a8 {
    background-color: lemonchiffon;
}

.a9 {
    background-color: lemonchiffon;
}

.a10 {
    background-color: lemonchiffon;
}


